@keyframes fadeIn {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
}

@keyframes slideInRight {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(0); /* Slide in to the center */
    }
}

@keyframes slideInLeft {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(0%); /* Start off-screen to the left */
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(-100%); /* Slide in to the center */
    }
  }
  